@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    font-size: 14px;
  }
}

@layer components {
  .bg-primary {
    @apply bg-[#3886E2];
  }
  .text-primary {
    @apply text-[#3886E2];
  }
  .border-primary {
    @apply border-[#3886E2];
  }
  .bg-secondary {
    @apply bg-[#F3F9FF];
  }
  .container {
    @apply max-w-[1298px];
  }
  .perpage {
    @apply block px-[18px] py-1.5 hover:bg-[#C6DCF5] hover:text-primary hover:underline;
  }
  .input_field {
    @apply w-full border border-gray-200 rounded-md px-4 py-2;
  }
  .dot {
    @apply before:content-[''] before:inline-block before:w-[2px] before:h-[2px] before:mt-0 before:mr-[5px] before:mb-[4px] before:ml-[2px] before:border-2 before:bg-gray-600 before:text-gray-600;
  }
  .drawer-side {
    @apply lg:static !important;
  }
  .white-box {
    @apply w-full border border-gray-200 bg-white rounded-lg p-[30px] shadow-sm;
  }
  .blue-button {
    @apply bg-primary font-semibold text-white py-2 px-5 text-sm w-fit rounded-xl items-center gap-2 flex justify-center;
  }
  .gradient-button {
    @apply bg-gradient-to-r from-blue-500 to-pink-500 rounded-full px-4 py-2 font-semibold;
  }
  .profile-card {
    @apply white-box relative justify-center grid pt-4 px-4 text-center;
  }
}

.widget-ticker-tape-container {
  @apply text-xs !important;
}
.js-copyright-label {
  @apply hidden !important;
}

/* Board post write editor */
.ql-editor {
  @apply px-5 py-8 text-sm !important;
}
.ql-video {
  @apply w-full md:w-3/5 h-fit aspect-video mx-auto;
}
.ql-editor img,
.post-image {
  @apply mx-auto;
}
/* Header nav menu */
.rs-nav-item {
  @apply text-black items-start flex hover:text-primary !important;
}
.rs-nav-item:hover,
.rs-nav-item:focus,
.rs-nav-item.rs-nav-item-focus {
  @apply bg-transparent !important;
}

.scrollable-container {
  overflow-x: scroll; /* Enable vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
  scrollbar-width: none; /* Hide the scrollbar on Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar on Internet Explorer and Edge */
}

/* Hide the scrollbar on WebKit-based browsers (Chrome, Safari, etc.) */
.scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Telegram post */
.tgme_widget_message_forwarded_from_name,
.post a {
  color: #0a5dc2;
}

.tgme_widget_message_forwarded_from_name:hover {
  text-decoration: underline;
}

.emoji {
  font-style: normal;
}
.emoji > b {
  font-weight: normal;
}
s .emoji > b {
  font-weight: normal;
}
a:hover :has(.emoji),
a:hover .emoji,
a:hover .emoji > b {
  text-decoration: inherit;
}
.emoji_default .emoji {
  background: none !important;
}
.emoji_image .emoji {
  width: 1.25em;
  height: 1.25em;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background: no-repeat -1000px -1000px;
  background-size: 1.25em 1.25em;
  text-indent: -10em;
  padding: 3px 3px 3px 2px;
  margin: -3px -2px;
}
.emoji_image .emoji:before {
  content: '';
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-position: 2px 50%;
  background-position-y: calc(50% + 1px);
}
.emoji_image .emoji > b {
  letter-spacing: 12em;
  pointer-events: none;
}

.media_not_supported_cont,
.media_not_supported .media_supported_cont {
  display: none;
}

.tgme_widget_message_link_preview {
  display: block;
  position: relative;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-left: 0.5rem;
  margin: 0.75rem;
  overflow: hidden;
}

.tgme_widget_message_link_preview:hover {
  text-decoration: none;
  color: #575757;
}

.tgme_widget_message_link_preview:before {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  border-radius: 2px;
  width: 2px;
  left: 0;
  top: 2px;
  bottom: 2px;
}

.link_preview_site_name {
  color: hsl(212 75% 55%);
  font-weight: 600;
}
.link_preview_site_name:hover {
  text-decoration: underline;
}
.link_preview_title {
  font-weight: 600;
  color: #575757;
}
.link_preview_description {
  color: #575757;
}
.link_preview_image,
.link_preview_right_image {
  display: block;
  width: 180px;
  height: 100px;
  max-height: 100px;
  max-width: 180px;
  float: right;
  border-radius: 6px;
  margin-left: 0.625rem;
  background: no-repeat center;
  background-size: cover;
  padding: 0 !important;
}
